.summary_image{
    align-items: center;
    align-content: center;
}
body{
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.548);
padding-left:auto;
padding-right:auto;

}